* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px;
}

.recipe-list {
    list-style-type: circle;
}

.recipe-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.description-section {
    margin-top: 30px;
}

.ingredients-section {
    margin-top: 30px;
}

.steps-section {
    margin-top: 30px;
}



.index-content {
    background-color: aliceblue;
    padding: 8px;
}

.recipe-list.index-list {
    padding-top: 16px;
    padding-bottom: 16px;
}
.list {
    margin-bottom: 16px;
    color: darkblue;
}

.list * {
    color: blue;
    text-decoration: solid;
}

.list:hover {
    opacity: 0.8;
}